// Variables
$anaranjado: #ff6200;
$negro: #000;
$blanco: #fff;
$plomo: #577f87;

// Media queries

$telefono: 480px;
$tablet: 768px;
$desktop: 120px;

// Fuentes
$fuentePrincipal: 'Roboto', sans-serif;
$fuenteSecundaria: 'Bebas Neue', cursive;

// Roboto
$delgada: 100;
$light: 300;
$regular: 400;
